.main-container-qr{
    padding: 7% 35%;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.48);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.inner-container-qr{
    border-radius: 20px;
    width: 100%;
    background-color: white;
    padding-bottom: 5%;
}

.inner-header-qr{
    text-align: center;
    padding: 5% 0 0 0;
}

.inner-reader-qr{
    width: 80%;
    margin: 10%;
}

.qr-quit{
    position: relative;
    top: -10px;
    left: 5px;
    float: right;
    width: 25px;
}

.scan-button{
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.scan-button i{
    margin-left: 15px;
}

.scan-title{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .main-container-qr {
        padding: 10% 30%;
    }
}

@media (max-width: 900px) {
    .main-container-qr {
        padding: 15% 25%;
    }
}

@media (max-width: 600px) {
    .main-container-qr {
        padding: 20% 20%;
    }
}

@media (max-width: 520px) {
    .main-container-qr {
        padding: 25% 10%;
    }
}