/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #174074;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #ADD8E6;
    --box2-color:  #FFE6AC;;
    --box3-color: 	#E7D1FC;
    --box1-color-hover: #ADD8E6;
    --box2-color-hover: #90EE90;
    --box3-color-hover: #B22222;
    --onpointer-color: #174074;
    --title-icon-color: #fff;
    --table-icons-color:#000;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
}
:root
{
    --bg-black-100:#353535;
    --bg-black-50:#eef0f4;
    --bg-black-20:#414546;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notch {
  position: absolute;
  top: 0;
  left: 50%;
  width: 280px;
  height: 42px;
  background-color: #174075;
  border-radius: 0 0 28px 28px;
  transform: translateX(-50%);
}
.notch::before, .notch::after {
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
  width: 14px;
  height: 7px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}
.notch::after {
  left: 100%;
  margin-right: corner-sizepx;
  background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}
.menu
{
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: var(--bg-black-50);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 4px;
    border-radius: 0.8rem;
    transition: 0.3s ease 0.15s;
    font-family: sans-serif;
}

.menu a
{
    text-decoration: none;
}
.menu .actionbar
{
    width: 100%;
    height: 10%;
    padding: 0.5rem;
    overflow: hidden;
}
.menu .actionbar div
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}
.menu .actionbar div button
{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--bg-black-100);
    width: 45px;
    height: 45px;
    transition: 0.3s ease;
    font-size: 1rem;
}
.menu .actionbar div button:hover
{
    background-color: #174074;
}
.menu .actionbar div h3
{
    width: calc(100% - 45px);

}
.menu .optionsBar
{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 60%;
    padding: 0 0.5rem;
    align-items: center;
    flex-direction: column;
}
.menu .optionsBar .menuItem
{
    width: 100%;
    height: 45px;
    margin: 0.3rem;
}

.menu .optionsBar .menuItem .menuOption
{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}
.menu .optionsBar .menuItem .menuOption:hover
{
    background-color: #174074;
}
.active
{
    background-color: #174074;
    border-radius: 10px;
}

.menu .optionsBar .menuItem .menuOption i
{
    width: 45px;
    text-align: center;
    color: var(--bg-black-100);
}
.menu .optionsBar .menuItem .menuOption h5
{
    width: calc(100% - 45px);
}
.menuText
{
    color: var(--bg-black-20);
    transform: translateX(-250px);
    opacity: 0;
    transition: transform 0.3s ease 0.1s;
}

.menu .menuBreak
{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .menuBreak hr
{
    width: 50%;
    height: 3px;
    background-color: var(--bg-black-100);
    border: none;
    border-radius: 5px;
}
.menu .menuUser
{
    width: 100%;
    height: 10px;
    padding: 4.5rem 0 3rem 0;
}
.menu .menuUser a
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
}
.menu .menuUser a div
{
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 0.5rem;
}
.menu .menuUser a div img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
.menu .menuUser a .Username
{
    width: calc(70% - 45px);
}
.menu .menuUser a p
{
    width: calc(30% - 45px);
}
.menu .menuUser a:hover p
{
    animation: animArrow 0.3s ease 2;
}
@keyframes animArrow
{
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(5px);
    }
    100%
    {
        transform: translateX(0);
    }
}
.menu .menuUser .userInfo
{
    position: absolute;
    width: 10rem;
    height: 8rem;
    opacity: 0;
    color: var(--bg-black-50);
    pointer-events: none;
    top: 58%;
    left: 1.5rem;
    transition: 0.3s ease;
    transform: scale(0);
    transform-origin: bottom left;
}
.menu .menuUser .userInfo div
{
    position: relative;
    width: 100%;
    height: calc(100% - 20px);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
    background-color: var(--bg-black-100);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.menu .menuUser .userInfo div h1
{
    font-size: 4rem;
}
.menu .menuUser .userInfo div::before
{
    content: '';
    position: absolute;
    bottom: -18px;
    left: -2px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--bg-black-100);
    transform: rotate(45deg);
}
.menu .menuUser:hover .userInfo
{
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}
.menu .themeBar
{
    overflow: hidden;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
}
.menu .themeBar div
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}
.menu .themeBar div button
{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--bg-black-100);
    width: 100%;
    height: 45px;
    transition: 0.3s ease;
    font-size: 1rem;
}
.menu .themeBar div button
{
    background-color: #174074;
}
.menu .optionsBar .menuItem .menuOption:hover .menuText,
.menu .optionsBar .menuItem .menuOption:hover i,
.menu .actionbar div button:hover i,
.menu .themeBar div button:hover i
{
    color: #fff;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #0E4BF1;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
    --table-content-color:#fff;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--border-color);
}
::-webkit-scrollbar-thumb {
    background: var(--box1-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
    border-radius: 12px;
    transition: all 0.3s ease;
}

body.dark::-webkit-scrollbar-thumb {
    background: var(--box1-color);
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}


.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--primary-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
#nav-active{
    color: var(--primary-color);
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--primary-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 73px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 73px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
.menu.open ~ .dashboard{
    left: 250px;
    width: calc(100% - 250px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top .name{
    color: var(--text-color);
    font-size: 22px;
}
.top img{
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

.dashboard .content{
    padding-top: 30px;
    margin: 20px;
}
.content .title{
    display: flex;
    position: relative;
    margin: 60px 0 30px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titlesmall{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.content .title i{
    position: relative;
    height: 45px;
    width: 45px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}



.searches{
    display: flex;
    justify-content: space-around;
}

#myNames ,#myIDs,#myLevels,#myEmails {
    background-image: url('../../Images/search_icon.png');
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 24%;
    font-size: 16px;
    background-color: var(--panel-color);
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }



.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity-data{
    overflow-y: scroll;
    max-height: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th {
    border: 1px solid var(--onpointer-color);
    padding: 8px 5px;
    color: var(--text-color);
}

td{
    border: 1px solid var(--onpointer-color);
    padding: 8px 5px;
    color: var(--text-color);
    text-align: center;
}
tr:nth-child(even){    background-color: var(--border-color);}
tr:hover {background-color: var(--onpointer-color);}
tr:hover td {color: #fff;}

.homework a{
    position: relative;
    border-radius: 6px;
    color: var(--table-content-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: underline;
}
  
.type i{
    position: relative;
    border-radius: 6px;
    color: var(--table-content-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
td form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--table-content-color);
    font-size: 14px;
    min-width: 190px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload , .submit {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
}

td form #myFile{
    width: 200px;
}
td .deadline{
    position: relative;
    color: #B22222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

td p{
    position: relative;
    color: var(--table-content-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.btn{
    width: 70%;
    letter-spacing: 2px;
    text-transform: uppercase;
}



.edit-window{
    width: 430px;
    height: 345px;
    position: absolute;
    left: 25%;
    top: 30%;
    border: 5px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--panel-color);
    display: none;
    flex-direction: column;
    padding: 20px 0 0 0;
    box-shadow: 6px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.details{
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    border-bottom: 2px solid var(--border-color);
    padding: 0 10px 17px 10px;
    font-weight: 700;
    color: var(--text-color);
}

.edit-on-stu{
    width: 100%;
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    border-bottom: 2px solid var(--border-color);
    margin: 9px 0;
    padding-bottom: 9px;

}

.btn-lec{
    width: 115px;
    text-transform: uppercase;
    height: 54px;
    padding: 5px;
    margin: 20px;
    font-weight: 500;
    background: var(--box1-color-hover);
    border: 2px  solid var(--border-color);
    border-radius: 12px;
    color: var(--table-icons-color);
    cursor: pointer;
}
.btn-lec:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
}

.remove{
    width: 100%;
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    border-bottom: 2px solid var(--border-color);
}


.btn-rem{
    width: 215px;
    text-transform: uppercase;
    height: 54px;
    padding: 5px;
    margin: 20px;
    font-weight: 600;
    background: var(--box3-color-hover);
    border: 2px  solid var(--border-color);
    border-radius: 12px;
    color: var(--text-color);
    cursor: pointer;
}
.btn-rem:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
}





.cancel{
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 2px solid var(--border-color);
}

.cancel button{
    width: 100%;
    height: 100%;
    position: relative;
    top: 1px;
    border: transparent;
    border-radius: 0 0 15px 15px;
    font-weight: 500;
    font-size: 16px;
    color: var(--table-icons-color);
    background: var(--box1-color-hover);

}
.cancel button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: var(--text-color);

}

.CodeOlogyLogo-container{
    position: fixed;
    bottom: 0;
    z-index: 50;
    width: inherit;
    text-align: -webkit-center;
}

.CodeOlogyLogo{
    width: calc(20% - 10px);
}
@media (min-width: 800px) {
    .menuText.open2
    {
        opacity: 1;
        transform: translateX(0);
    }
    .menu.open
    {
        width: 240px;
    }
}
@media (max-width: 800px) {
    .menu.open~.dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
}
@media (max-width: 780px) {
    .CodeOlogyLogo{
        width: calc(30% - 10px);
    }
}

@media (max-width: 560px) {
    .CodeOlogyLogo{
        width: calc(40% - 10px);
    }
}

@media (max-width: 1000px) {
    nav .logo-image img{
        width: 65px;
    }

    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }

    .edit-window{
        left: 8%;
        top: 32%;
    }

    #myNames, #myIDs, #myLevels, #myEmails {
    font-size: 14px;
    }

}

@media (max-width: 425px) {
    nav{
        width: 0;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    .content .title{
        display: flex;
        position: relative;
        margin: 60px 0 30px 0;
        justify-content: space-between;
        align-items: center;
    }
    .content .title .text {
        font-size: 22px;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }
    .content .title i {
        position: relative;
        height: 45px;
        width: 45px;
        background-color: var(--primary-color);
        border-radius: 10px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    #myNames, #myIDs, #myLevels,#myEmails {
    width: 90%;
    }
    .searches{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .edit-window{
        width: 340px;
        height: 346px;
        left: 1%;
        top: 30%;
        box-shadow: 2px 5px 2px 1px rgb(0 0 0 / 20%);
    }

}
@media (max-width : 550px) {
    .top .name{
        display: none;
    }
}


@media (max-width : 380px){
    .edit-window{
        width: 293px;
        height: 373px;
    }
}
@media (max-width : 320px){
    .content .title .text {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }
    .content .title i {
        position: relative;
        height: 40px;
        width: 40px;
        background-color: var(--primary-color);
        border-radius: 10px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    .edit-window{
        width: 240px;
        height: 373px;
        left: 1%;
        top: 30%;
        box-shadow: 2px 5px 2px 1px rgb(0 0 0 / 20%);
    }
}
    #note {
        position: fixed;
        z-index: 6001;
        width:150px;
        top: 40px;
         margin-left: auto;
        margin-right: 10px;
        border-radius:15px;
        right: 0;
        background: #174074;
        font-color:#fff;
        text-align: center;
        line-height: 2.5;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
    }
    .cssanimations.csstransforms #note {
        -webkit-transform: translateY(-100px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-100px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }

    #close {
      position: absolute;
      right: 10px;
      top: 9px;
      text-indent: -9999px;
      background: url(images/close.png);
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    .cssanimations.csstransforms #close {
      display: none;
    }
    
    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-90px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-90px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }